/node_modules
/public/hot
/public/storage
/public/afip/*.pdf
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/resources/js/admin.min.js
.DS_Store
.DS_Store?